
body {
    font-family: "Lilita One", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(71, 69, 69);
}

h1 {
    font-size: 3.5rem;
    color: #fefefe;
}

.choiceBtn {
    margin-bottom: 30px;
}

.choiceBtn button{
    
    font-size: 7.5rem;
    min-width: 180px;
    min-height: 180px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: hsl(199, 40%, 41%);
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: 5px solid black;
}

.choiceBtn button:hover{
    background-color: hsl(199, 40%, 71%)
}

#rock {
    background-image: url(../odin-rock_paper_scissors/assets/rocks.png);
    background-size: cover;
}

#paper {
    background-image: url(../odin-rock_paper_scissors/assets/paper-stack.png);
    background-size: cover;
}

#scissors {
    background-image: url(../odin-rock_paper_scissors/assets/scissors.png);
    background-size: cover;
}

#playerDisplay, #computerDisplay {
    font-size: 2.5rem;
    color: #fefefe;
    text-transform: uppercase;
}

#resultDisplay {
    font-size: 5rem;
    margin: 30px 0;
    color: #fefefe;
}

.scoreDisplay {
    font-size: 2rem;
    color: #fefefe;
}

.greenText, #playerScoreDisplay {
    color: green;
}

.redText, #computerScoreDisplay{
    color: red;
}

.footer{
    padding: 10px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(44, 43, 43);
    color: #fefefe;
    text-align: center;
    margin-top: auto;
    
}

.header{
    padding: 5px 0;
    background-color: rgb(44, 43, 43);
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}


/*Pop up box at the end of the game */

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
   
}

.modal-content {
    background-color:rgb(71, 69, 69);
    color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    max-width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.modal-content p{
    font-size: 28px;
    font-weight: bold;
    font-family: "Lilita One", sans-serif;
    
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#playAgainBtn {
    border: 2px solid black;
    color: #fefefe;
    background-color: hsl(199, 40%, 41%);
    border-radius: 15px;
    margin-top: 10px;
    font-size: 28px;
    cursor: pointer;
    font-family: "Lilita One", sans-serif;
}

